<h1>Everett & Noah shipping</h1>

<h3>Available Parcels</h3>

<% if @parcels.any? %>
<ul>
  <% @parcels.each do |parcel| %>
    <li><a href="/parcels/<%= parcel.id %>"><%= parcel.name %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no parcels to display.</p>
<% end %>

<a href="/parcels/new">Add a new parcel</a>

<form action="/parcels">
  <div class="form-group" method="get">
    <label for="search">Search</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
